*{
	box-sizing: border-box;
	font-family: 'Helvetica neue',  Arial, sans-serif;
}
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.dataviz{
	width: 80vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dataviz__map{
	width: 80%;

}
.dataviz__legend{
	width: 15%;
	font-size: 1vw;
}


.dataviz__tooltip{
	position: absolute;
	color: #2F2F02;
	padding: 10px;
	border: 5px solid #FEFEF3;
	box-shadow: 5px 5px 5px #2F2F02;
	border-radius: 10px;
	opacity: 0;
}
h3{
	text-align: center;
}

@media only screen  and (orientation: portrait){
	
	h1{
		font-size: 4vw;
		margin-top: 15vw;
	}
	h3{
		font-size: 3vw;
	}

	.dataviz{
	width: 90vw;
	flex-direction: column;

	}

	.dataviz__legend{
		display: none;
	}

	.dataviz__tooltip{
		position: static;
		width: 80%;
		box-shadow: none;
		border: 2px solid #2F2F02;
		border-radius: 5px;

	}
}

